.searchResult {
  background-color: white;
  border-radius: 8px;
  box-shadow: -2px 0px 8px #00000021;
  display: flex;
  border-radius: 8px;
  width: 780px;
  height: 256px;
  .image {
    width: 292px;
    border-radius: 8px 0 0 8px;
    background-position: center;
    background-size: auto;
  }
  .details {
    text-align: left;
    flex-grow: 1;
    align-items: baseline;
    padding: 12px;
    display: flex;
    flex-direction: column;
    .rating {
      color: #f39527;
      svg {
        width: 16px;
      }
    }
    .title {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .checkout {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    row-gap: 5px;
    padding: 16px;

    width: 198px;
    border-radius: 0 8px 8px 0;
    background-color: #f5f5f5;
    .price {
      font-size: 27px;
      color: #da020e;
      font-weight: bolder;
    }
    button {
      height: 37px;
      border-radius: 4px;
      border: 0;
      outline: 0;
      background: transparent linear-gradient(270deg, #0d65f9 0%, #1a27f8 100%)
        0% 0% no-repeat padding-box;
      color: white;
      width: 100%;
    }
  }
}
